@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<!-- body -->
<body class="main-layout inner_posituong computer_page">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="~/images/loading.gif" alt="#" /></div>
    </div>
    <!-- end loader -->
    <!-- laptop  section -->
    <div class="laptop">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="titlepage">
                        <p>Toda computadora y laptop</p>
                        <h2>Más del 40% de descuento !</h2>
                        <a class="read_more" href="#">Comprar Ahora</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="laptop_box">
                        <figure><img src="~/images/pc.png" alt="#" /></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- end laptop  section -->
</body>
</html>

