@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<!-- body -->
<body class="main-layout inner_posituong">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="~/images/loading.gif" alt="#" /></div>
    </div>
    <!-- end loader -->
    <!-- products -->
    <div class="products">
        <div class="container">
            <!-- CATEGORIA COMPUTADORA -->
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>COMPUTADORAS</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="our_products_version2">
                        <div class="row">
                            <div class="col-md-4 margin_bottom1">
                                <div class="product_box">
                                    <figure><img src="~/images/productComputadora1.png" alt="#" /></figure>
                                    <h4>COMPUTADORA PC CORE I5-10TH DISCO 1TB SSD 240GB RAM 16 VIDEO GTX 1050 4GB FUENTE RGB </h4>
                                    <a class="buttonDetalles" href="javascript:abrir()">Ver Detalle</a>
                                </div>
                            </div>
                            <div class="col-md-4 margin_bottom1">
                                <div class="product_box">
                                    <figure><img src="~/images/productComputadora2.png" alt="#" /></figure>
                                    <h4>COMPUTADORA PC INTEL CORE I7 3.2 GHZ RAM 16GB DISCO DURO 1TB CASE 350W</h4>
                                    <a class="buttonDetalles" href="javascript:abrir()">Ver Detalle</a>
                                </div>
                            </div>
                            <div class="col-md-4 margin_bottom1">
                                <div class="product_box">
                                    <figure><img src="~/images/productComputadora3.png" alt="#" /></figure>
                                    <h4>PC HP OMEN GT15-0011LA, I7 12VA, 32GB, SSD 512GB, RTX3060 12GB, W11H</h4>
                                    <a class="buttonDetalles" href="javascript:abrir()">Ver Detalle</a>
                                </div>
                            </div>
                            <div class="col-md-4 margin_bottom1">
                                <div class="product_box">
                                    <figure><img src="~/images/productComputadora4.png" alt="#" /></figure>
                                    <h4>COMPUTADORA PC GAMER INTEL CORE I5 3.2GHZ RAM 16GB DISCO DURO 1TB VIDEO GT 4GB CASE 500W</h4>
                                    <a class="buttonDetalles" href="javascript:abrir()">Ver Detalle</a>
                                </div>
                            </div>
                            <div class="col-md-4 margin_bottom1">
                                <div class="product_box">
                                    <figure><img src="~/images/productComputadora5.png" alt="#" /></figure>
                                    <h4>COMPUTADORA HP PAVILION GAMING TG01-1502LAM, AMD RYZEN 5-4600G, 8GB, 1TB HDD, GTX1650 4GB, WIN10H</h4>
                                    <a class="buttonDetalles" href="javascript:abrir()">Ver Detalle</a>
                                </div>
                            </div>
                            <!--Opcion para ver más
                            <div class="col-md-12">
                                <a class="read_more" href="#">Ver más</a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- CATEGORIA LAPTOP -->
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>LAPTOPS</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="our_products_version2">
                        <div class="row">
                            <div class="col-md-4 margin_bottom1">
                                <div class="product_box">
                                    <figure><img src="~/images/productLaptop1.png" alt="#" /></figure>
                                    <h4>Laptop HP VICTUS 16-d0523la Windows 11 Intel Core i7-11600H NVIDIA GeForce RTX 3050 8GB RAM 512GB FHD 16"</h4>
                                    <a class="buttonDetalles" href="javascript:abrir()">Ver Detalle</a>
                                </div>
                            </div>
                            <div class="col-md-4 margin_bottom1">
                                <div class="product_box">
                                    <figure><img src="~/images/productLaptop2.png" alt="#" /></figure>
                                    <h4>ASUS TUF Gaming A15 AMD Ryzen 5 4600H 15.6" FHD 512SSD 8GB RAM GTX1650</h4>
                                    <a class="buttonDetalles" href="javascript:abrir()">Ver Detalle</a>
                                </div>
                            </div>
                            <div class="col-md-4 margin_bottom1">
                                <div class="product_box">
                                    <figure><img src="~/images/productLaptop3.png" alt="#" /></figure>
                                    <h4>Laptop Gamer Rog Strix G15 G513Ic 15.6'' Amd Ryzen 7 4000 Series 16Gb 512Gb</h4>
                                    <a class="buttonDetalles" href="javascript:abrir()">Ver Detalle</a>
                                </div>
                            </div>
                            <div class="col-md-4 margin_bottom1">
                                <div class="product_box">
                                    <figure><img src="~/images/productLaptop4.png" alt="#" /></figure>
                                    <h4>Laptop Pavilion Core i5 8Gb 512Gb 14"</h4>
                                    <a class="buttonDetalles" href="javascript:abrir()">Ver Detalle</a>
                                </div>
                            </div>
                            <div class="col-md-4 margin_bottom1">
                                <div class="product_box">
                                    <figure><img src="~/images/productLaptop5.png" alt="#" /></figure>
                                    <h4>IdeaPad 5i 15.6" Core i5 11° GEN 16GB RAM 256GB SSD Español</h4>
                                    <a class="buttonDetalles" href="javascript:abrir()">Ver Detalle</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- CATEGORIA TABLETS -->
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>TABLETS</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="our_products_version2">
                        <div class="row">
                            <div class="col-md-4 margin_bottom1">
                                <div class="product_box">
                                    <figure><img src="~/images/productTablet1.png" alt="#" /></figure>
                                    <h4>Tab P11 Snapdragon 662 11" 2K 128GB 6GB RAM Slate Grey + Keyboard Pack y Precisión Pen 2</h4>
                                    <a class="buttonDetalles" href="javascript:abrir()">Ver Detalle</a>
                                </div>
                            </div>
                            <div class="col-md-4 margin_bottom1">
                                <div class="product_box">
                                    <figure><img src="~/images/productTablet2.png" alt="#" /></figure>
                                    <h4>Smart Tab M8 MediaTek Helio A22 8" HD 32GB 2GB RAM Iron Grey</h4>
                                    <a class="buttonDetalles" href="javascript:abrir()">Ver Detalle</a>
                                </div>
                            </div>
                            <div class="col-md-4 margin_bottom1">
                                <div class="product_box">
                                    <figure><img src="~/images/productTablet3.png" alt="#" /></figure>
                                    <h4>Tab M8 HD 2da Gen MediaTek Helio A22 8" HD 32GB 2GB RAM Iron Grey</h4>
                                    <a class="buttonDetalles" href="javascript:abrir()">Ver Detalle</a>
                                </div>
                            </div>
                            <div class="col-md-4 margin_bottom1">
                                <div class="product_box">
                                    <figure><img src="~/images/productTablet4.png" alt="#" /></figure>
                                    <h4>Huawei Mediapad T3 - 32GB WiFi - Grey (EU) (Tablet)</h4>
                                    <a class="buttonDetalles" href="javascript:abrir()">Ver Detalle</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- CATEGORIA PARLANTES -->
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>PARLANTES</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="our_products_version2">
                        <div class="row">
                            <div class="col-md-4 margin_bottom1">
                                <div class="product_box">
                                    <figure><img src="~/images/productParlante1.png" alt="#" /></figure>
                                    <h4>Parlante Logitech S150 2.4W Estereo USB-A Para PC Negro</h4>
                                    <a class="buttonDetalles" href="javascript:abrir()">Ver Detalle</a>
                                </div>
                            </div>
                            <div class="col-md-4 margin_bottom1">
                                <div class="product_box">
                                    <figure><img src="~/images/productParlante2.png" alt="#" /></figure>
                                    <h4>Parlante Estereo Logitech Z207 Bluetooth Para PC USB-A Negro</h4>
                                    <a class="buttonDetalles" href="javascript:abrir()">Ver Detalle</a>
                                </div>
                            </div>
                            <div class="col-md-4 margin_bottom1">
                                <div class="product_box">
                                    <figure><img src="~/images/productParlante3.png" alt="#" /></figure>
                                    <h4>Parlante gamer Furious 303 Led</h4>
                                    <a class="buttonDetalles" href="javascript:abrir()">Ver Detalle</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- CATEGORIA MEMORIAS RAM -->
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>MEMORIAS RAM</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="our_products_version2">
                        <div class="row">
                            <div class="col-md-4 margin_bottom1">
                                <div class="product_box">
                                    <figure><img src="~/images/productRam1.png" alt="#" /></figure>
                                    <h4>Memoria Ram Kingston KVR26S19S6 4GB DDR4L 2666MHZ SODIMM</h4>
                                    <a class="buttonDetalles" href="javascript:abrir()">Ver Detalle</a>
                                </div>
                            </div>
                            <div class="col-md-4 margin_bottom1">
                                <div class="product_box">
                                    <figure><img src="~/images/productRam2.png" alt="#" /></figure>
                                    <h4>Memoria RAM Kingston DDR4 8GB 2400MHz DIMM</h4>
                                    <a class="buttonDetalles" href="javascript:abrir()">Ver Detalle</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- CATEGORIA OTROS -->
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>OTROS</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="our_products_version2">
                        <div class="row">
                            <div class="col-md-4 margin_bottom1">
                                <div class="product_box">
                                    <figure><img src="~/images/product1.png" alt="#" /></figure>
                                    <a class="buttonDetalles" href="javascript:abrir()">Ver Detalle</a>
                                </div>
                            </div>
                            <div class="col-md-4 margin_bottom1">
                                <div class="product_box">
                                    <figure><img src="~/images/product2.png" alt="#" /></figure>
                                    <a class="buttonDetalles" href="javascript:abrir()">Ver Detalle</a>
                                </div>
                            </div>
                            <div class="col-md-4 margin_bottom1">
                                <div class="product_box">
                                    <figure><img src="~/images/product3.png" alt="#" /></figure>
                                    <a class="buttonDetalles" href="javascript:abrir()">Ver Detalle</a>
                                </div>
                            </div>
                            <div class="col-md-4 margin_bottom1">
                                <div class="product_box">
                                    <figure><img src="~/images/product4.png" alt="#" /></figure>
                                    <a class="buttonDetalles" href="javascript:abrir()">Ver Detalle</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Ventana para ver los productos -->
    <div class="ventanaExtra" id="vent">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="our_products_verVentana">
                        <div class="cerrar">
                            <a href="javascript:cerrar()"><i class='bx bx-x-circle'></i></a>
                        </div>
                        <label>Calificaciones</label>
                        <div class="tamaño-periodo">
                            <label>Numero de Periodo:</label>
                        </div>
                        <select class="form-periodo" id="formGroupExampleInput2" name="selectPeriodo">
                            <option value="Uno">Primer periodo</option>
                            <option value="Dos">Segundo periodo</option>
                            <option value="Tres">Tercer periodo</option>
                        </select>
                        <table class="table table-bordered">
                            <tr>
                                <td scope="col"> </td>
                                <td scope="col">Nota</td>
                                <td scope="col">Situacion</td>
                            </tr>
                            <tr>
                                <td scope="col">PC 01</td>
                                <td scope="col"> </td>
                                <td scope="col"> </td>
                            </tr>
                            <tr>
                                <td scope="col">PC 02</td>
                                <td scope="col"> </td>
                                <td scope="col"> </td>
                            </tr>
                            <tr>
                                <td scope="col">PC 03</td>
                                <td scope="col"> </td>
                                <td scope="col"> </td>
                            </tr>
                            <tr>
                                <td scope="col">Examen Final</td>
                                <td scope="col"> </td>
                                <td scope="col"> </td>
                            </tr>
                            <tr class="promedio">
                                <td scope="col">--Promedio--</td>
                                <td scope="col"> </td>
                                <td scope="col"> </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end products -->
    <script>
        function abrir() {
            document.getElementById("vent").style.display = "block";
        }
        function cerrar() {
            document.getElementById("vent").style.display = "none";
        }
    </script>
</body>
</html>
